<div class="hourglass w3-center">
  <h2 class="w3-panel w3-bottombar hourglass">Hourglass application</h2>

  <div class="buttonpanel">
    <div class="w3-button w3-card w3-border-round">
      <i class="material-icons" style="padding-right: 8px">add</i>Add new card
    </div>

    <div class="w3-button w3-card w3-border-round">
      <i class="material-icons" style="padding-right: 8px">timer</i>Time in
    </div>

    <div class="w3-button w3-card w3-border-round">
      <i class="material-icons" style="padding-right: 8px">timer_off</i>Time out
    </div>

  </div>
</div>
