/* HeroesComponent's private CSS styles */
.heroes {
  padding: 0;
  width: 15em;
  /*margin: 0 0 2em 0;*/
  list-style-type: none;
}

/*.heroes li {*/
/*  height: 2em;*/
/*  cursor: pointer;*/
/*  margin: 0 0 1em 0;*/
/*  padding: 0 2em 0 0;*/
/*  border-radius: 4px;*/
/*  position: relative;*/
/*  background-color: #aaa;*/
/* }*/

/*.heroes li:hover {*/
/*  color: #607D8B;*/
/*  background-color: #DDD;*/
/*  left: .1em;*/
/*}*/

/*.heroes li.selected {*/
/*  color: white;*/
/*  background-color: #CFD8DC;*/
/*}*/

/*.heroes li.selected:hover {*/
/*  background-color: #BBD8DC;*/
/*  color: white;*/
/*}*/

.heroes .badge {
  display: inline-block;
  /*font-size: small;*/
  color: white;
  padding: 1em 1em 0 1em;
  /*margin: -1em 0 0 -1em;*/
  /*left: -1.2em;*/
  /*top: -.8em;*/
  height: 100%;
  /*line-height: 1em;*/
  position: relative;
  background-color: #405061;
  border-radius: 4px 0 0 4px;
}
