<h2 class="w3-bottombar">Create new hero</h2>

<div class="w3-form">
  <label>Name:
    <input class="w3-input" type="text" [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>

<br><br>

<h2>Available heroes</h2>

<ul class="heroes">
<!--  <li *ngFor="let hero of heroesList" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"-->
<!--      class="w3-button w3-left-align w3-margin-bottom w3-margin-right">-->
<!--    <div class="w3-tag w3-half w3-margin-right batch"-->
<!--         style="height: 100%; text-align: center; margin: auto;">{{hero.id}}</div>-->
<!--    {{hero.name}}-->
<!--  </li>-->
</ul>

<br><br>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
