<h2>Create new hero</h2>

<div class="w3-form">
  <label>Name:
    <input class="w3-input" type="text" [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroesList" (click)="onSelect(hero)" [class.selected]="hero === selectedHero" class="w3-button w3-border w3-border-blue w3-round-large w3-left-align w3-margin-bottom" style="width: 20em;">
    <div class="w3-tag w3-blue-gray w3-half w3-margin-right" style="height: 100%">{{hero.id}}</div> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} details:</h2>
  <div>Id: {{selectedHero.id}}</div>
  <div>Name: {{selectedHero.name}}</div>
</div>
