/* HeroesComponent's private CSS styles */
.heroes {
  padding: 0;
  /*width: 100%;*/
  width: 650px;
  margin: auto;
  align-content: center;
  list-style-type: none;
}

.heroes li {
  padding: 0;
  height: 60px;
  width: 300px;
  margin: auto;
  cursor: pointer;
  border-radius: 16px;
  display: inline-block;
  border: solid 2px darkslategray;
  /*  vertical-align: middle;*/
  /*  !*transform: translate(-50%, -50%);*!*/
  /*  !*  margin: 0 0 1em 0;*!*/
  /*  !*  padding: 0 2em 0 0;*!*/
  /*  !*  border-radius: 4px;*!*/
  /*  !*  position: relative;*!*/
  /*  !*  background-color: #aaa;*!*/
}

.heroes .batch {
  color: white;
  padding-top: 5%;
  background: lightslategray;
}

/*.heroes li:hover {*/
/*  color: #607D8B;*/
/*  background-color: #DDD;*/
/*  left: .1em;*/
/*}*/

.heroes li.selected {
  color: black;
  background-color: lavender;
}

/*.heroes li.selected:hover {*/
/*  background-color: #BBD8DC;*/
/*  color: white;*/
/*}*/
